<%= form_with model: @user, url:user_registration_path, class: 'registration-main', local: true do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='field'>
      <%= f.text_area :name, class:"input-name", id:"name", placeholder:"例)山田 太郎" %>
    </div>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='field'>
      <%= f.text_area :nickname, class:"input-nickname", id:"nickname", placeholder:"例)竈門炭治郎" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
