<div class="my-page-logo">
    <h1>Mypage</h1>
</div>

<div class="my-page-main">
  <div class="side-ber">
    <li><img src=<%= current_user.image %> class = "my-page-icon"></li>
   
    <li><h3 class="side-ber-font">プロフィール</h3><li>
    <li><%= link_to 'アカウント設定', edit_user_registration_path,method: :get,class: :my_page_font%></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :my_page_font%></li>
  </div>

  <div class="gallery">
     <% @user.each do |photo|%>
     <ul class='item-lists'>
        <li class="list">
        <%= link_to photo_path(photo.id) do %>
        <div class='photo-img-content'>
            <%= image_tag photo.image, class: "photo-img" if photo.image.attached?%><br>
        <% end %>
        </div>

        <h3><%= photo.title%></h3>
      </li>
    </ul>
      <% end %>
    <%# #投稿が１０を超えたら試す %>
    </div>
  </div>

</div>