<li class="list">
    <%= link_to photo_path(photo.id) do %>
    <div class='photo-img-content'>
        <%= image_tag photo.image, class: "photo-img" if photo.image.attached?%>
    <% end %>
    </div>
  
    <div class="photo-info">
      <h3 class='photo-info'>
        <%= photo.title%>
      </h3> 
      <tr>
      <td><a href="/users/<%= photo.user.id %>"><%= photo.user.nickname %></a>
        <%= link_to photo_likes_path(photo),method: :post, remote: true, id:"like-btn" do %>
        <i class="fas fa-heart like-btn"></i>
        <% end %>

        <div class="like-count">
          <%= photo.liked_users.count %>
        </div>
        
       </td>
      </tr>
    </div>
  </li>