
<div class="first-view">
    <%= image_tag("img2.jpg", class: :top_image) %>

   <div class="photo-title">
      <h1>D-Photo</h1>
      <h2>さぁ、旅に出かけよう</h2>

      <% if user_signed_in? %>

      <%= link_to '旅の写真を投稿しよう', new_photo_path, class: :start__btn %>

      <% else %>

      <%= link_to 'D-Photoをはじめよう', new_user_registration_path, class: :start__btn %>

      <% end %>
   </div>
</div>

<div class="main">
 
  
  <div class="description">
  <%# d-photoの概要を乗せる %>
      <div class="bicycle-icon">
       <i class="fas fa-bicycle"></i>
       </div>

       <h1>ー自転車旅の思い出を共有しようー</h1>
       <h2>「D-Photo」は自転車旅で感動した写真を仲間たちと共有するアプリです。</h2>
       <h2> 美しい林道、果てしなく続く海、長い山道を登り切った景色。</h2>
       <h2> あなたが旅をして得たものを仲間たちと共に・・・。</h2>
  </div>

  <div class="procedure">
  <%# アプリを使うまでの手順を乗せる %>
      <div class="manner">
        <h1>STEP1</h1>
        <h2>新規登録</h2>
        <p><span class="new-line">新規登録を行うと写真の投稿<br>が出来ます。</span></p>
        <p><span class="new-line">※新規登録を行わなくとも閲覧することは可能です</span></p>
        <i class="fas fa-pen pen"></i>
      </div>

      <div class="manner">
        <h1>STEP2.</h1>
        <h2>写真を投稿する</h2>
        <p><span class="new-line">写真を投稿し、世界の仲間と<br>共有しよう！<br>
        あなたが撮った素晴らしい写真を誰かが待っています。</span></p>
        <i class="fas fa-camera camera"></i>
      </div>
      <div class="manner">
        <h1>STEP3.</h1>
        <h2>コメント・「いいね」</h2>
        <p><span class="new-line">写真にコメントをしたり、<br>
        「いいね」を押してあげよう！</span></p>
        <i class="far fa-comments fa-comments"></i>
        <i class="fas fa-heart heart"></i>
      </div>
  </div>

  <div class="photo-contents">
    <h1 class="catalog">Post List</h1>
    <ul class="photo-lists">
      <% @photos.each do |photo|%>
        <li class="list">
          <%= link_to photo_path(photo.id) do %>
          <div class='photo-img-content'>
              <%= image_tag photo.image, class: "photo-img" if photo.image.attached?%>
          <% end %>
          </div>
        
          <div class="photo-info">
            <h3 class='photo-info'>
              <%= photo.title%>
            </h3> 
            
             <a href="/users/<%= photo.user.id %>"><%= photo.user.nickname %></a>
             <%= link_to photo_likes_path(photo),method: :post do %>
             <i class="fas fa-heart like-btn"></i>
             <% end %>
    
             <div class="like-count">
                <%= photo.liked_users.count %>
             </div>
          </div>
        </li>
      <% end %>
    </ul>
    <%# #投稿が１０を超えたら試す %>
  </div>
</div>

