<div class="show-main">
 <div class="show-box">
      <div class="show-photo">
        <%= link_to @photo.image, "data-lightbox": @photo.image, class:"show-box-img" do %>
        <%= image_tag @photo.image, class:"show-box-img"%>
        <% end %>
      </div>

      <div class="show-profile">
        <div class="show-icon">
          <li><img src=<%= @photo.user.image %> class = "profile-icon"></li>
        </div>

        <div class="show-date">
          <li><h2><%= @photo.user.nickname%></h2></li>
        </div>
        
        <div class="show-self_introduction">
          <li><h2><%= @photo.user.self_introduction%></h2></li>
         </div> 
        
       </div>

  <div class="show-bottom">
      <div class="show-text">
      </div>
  </div>
 
 </div>
</div>
